=form_for @search_results do |f|
  %h2
    Please select your coverage:
  %p
  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th
        %th
          Your flights:
        %th
          Premium
        %th
          1 to 2 hrs
        %th
          2 to 3 hrs
        %th
          3 to 4 hrs
        %th
          4+ hrs
        %th
          Cancellation<br>Diversion
    %tbody
      -@search_results.flight_legs.each do |l|      
        %tr
          %td
            %input.coverage_select{:type=>"checkbox", :id=>"premium#{l.id}", :checked=>1}
          %td
            =l.departure_time.strftime("%A, %b %d, %Y")
            %br
            =l.flightid_carrier.name
            =l.flightid_flight_number
            %br    
            lv
            =l.departure_time.strftime("%I:%M%p")
            =l.departure_airport.airport_code
            =l.departure_airport.city
            %br
            ar
            =l.arrival_time.strftime("%I:%M%p")
            =l.arrival_airport.airport_code
            =l.arrival_airport.city
          %td
            %select{:name => "premium", :class => "premium"}
              - premium = Payout::get_premiums
              - for p in premium
                %option
                  = p
          %td
            .c1 {:data-id=>l.id.to_s}            
          %td
            .c2 {:data-id=>l.id.to_s}
          %td
            .c3 {:data-id=>l.id.to_s}
          %td
            .c4 {:data-id=>l.id.to_s}
          %td
            .cc {:data-id=>l.id.to_s}
  %p
    Your total coverage:
    #total_coverage
  %p
    Your total premium:
    #total_premium
  =f.button "Submit"

