.row-fluid.infographic.hidden-phone
  %h2
    .row-fluid
      .span12
        How it works
    .row-fluid
      .span3        
        =image_tag("airline_ticket.png", :id=>"airline_ticket_img")
      .span3
        =image_tag("checkbox.png", :id=>"checkbox_img")
      .span3
        =image_tag("airplane.png", :id=>"airplane_img")
      .span3
        =image_tag("money.jpeg", :id=>"money_img")
  %h4
    .row-fluid
      .span3.text
        Enter your flight info.
      .span3.text
        Select and purchase your coverage.
      .span3.text
        Fly.
      .span3.text
        If your flight arrives 1+ hours late, you get paid!