%div.span2
%div.span10
  %h1
    Confirm the flights you want to insure:
  -@query_results.each do |query_result|
    -query_result.flights.each do |flights|
      -flights.flight_legs.each do |l|
        %div
          %p
          %h3
            =l.flightid_carrier.name
            Flight Number:
            =l.flightid_flight_number    
            from
            =l.departure_airport.city
            =l.departure_airport.airport_code
            to
            =l.arrival_airport.city
            =l.arrival_airport.airport_code
          %table.table_bordered(width="100%")
            %tr
              %td
                Flight duration:
              %td
                Departs:
                =l.departure_time
              %td
                =l.departure_airport.airport_code
              %td
                =l.departure_airport.name
              %td
                Terminal
                =l.departure_terminal
            %tr
              %td
                =l.flight_duration_minutes
                mins
              %td
                Arrives:
                =l.arrival_time
              %td
                =l.arrival_airport.airport_code
              %td
                =l.arrival_airport.name
              %td
                Terminal
                =l.arrival_terminal                  


