%h1
  Checkout page yet to be built
/ -@coverage.flight_coverages.each do |l|
/   =render "flight_leg_print", :l=>l.flight_leg
/   <br>
/   Premium:
/   =l.premium
/   Coverage:
/   <br>
/   =l.c60_120
/   =l.c120_180
/   