!!!
%html
  %head
    %title Front
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = javascript_include_tag :application
%body
  %div.container-fluid
    %div.row-fluid
      = yield

